<!DOCTYPE html>
{% extends 'coordinator_base.html' %}
{% load staticfiles %}
{% block content %}
<br><br>
 <div class="container">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-3">
        <div class="row valign-wrapper">
          <div class="col s2">
            <img src="{% static "app/coordinator.png" %}" alt=" Image here" class="circle responsive-img">
          </div>
          <div class="col s10">
            <span class="black-text">
                <p class="flow-text indigo-text text-darken-2"><b> Name</b></p>
                <p class="flow-text ">{{ user.coordinator.profile.name }}</p>
                <p class="flow-text indigo-text text-darken-2"><b>Email</b></p>
                <p class="flow-text ">{{ user.coordinator.profile.email }}</p>
                <p class="flow-text indigo-text text-darken-2"><b>Phone Number</b></p>
                <p class="flow-text ">{{ user.coordinator.profile.phone_number }}</p>
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script>
        $(document).ready(function () {
            $('.button-collapse').sideNav({
                menuWidth: 300, // Default is 300
                edge: 'left', // Choose the horizontal origin
                closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: true // Choose whether you can drag to open on touch screens
            });
            
        });

        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: true, // Does not change width of dropdown to that of the activator
            hover: false, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: true, // Displays dropdown below the button
            alignment: 'left', // Displays dropdown with edge aligned to the left of button
            stopPropagation: false // Stops event propagation
          }
        );
</script>

{% endblock %}
