<tr>
    <th>Name</th>
    <td>{{ user.student.profile.name }}</td>
</tr>
<tr>
    <th>Email</th>
    <td>{{ user.student.profile.email }}</td>
</tr>
<tr>
    <th>Phone Number</th>
    <td>{{ user.student.profile.phone_number }}</td>
</tr>
<tr>
    <th>Year</th>
    <td>{{ user.student.classroom.year }}</td>
</tr>
<tr>
    <th>Division</th>
    <td>{{ user.student.classroom.div }}</td>
</tr>
<tr>
    <th>Department</th>
    <td>{{ user.student.classroom.department.name }}</td>
</tr>
<tr>
    <th>Email</th>
    <td>{{ user.student.profile.email }}</td>
</tr>