<div class="card-action">
    <div class="select_type">
        <table class="centered">
            <tbody>
                <tr>
                    <td>
                        <b style="color:red;">Unsatisfactory</b>
                    </td>
                    <td>
                        <b style="color:orange;">Improvement needed</b>
                    </td>
                    <td>
                        <b style="color:yellow;">Meets expectations</b>
                    </td>
                    <td>
                        <b style="color:green;">Exceeds expectations</b>
                    </td>
                    <td>
                        <b style="color:blue;">Exceptional</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" name="radio_1" id="radio_1_1" />
                        <label for="radio_1_1"></label>
                    </td>
                    <td>
                        <input type="radio" name="radio_1" id="radio_1_2" />
                        <label for="radio_1_2"> </label>
                    </td>
                    <td>
                        <input type="radio" name="radio_1" id="radio_1_3" />
                        <label for="radio_1_3"> </label>
                    </td>
                    <td>
                        <input type="radio" name="radio_1" id="radio_1_4" />
                        <label for="radio_1_4"> </label>
                    </td>
                    <td>
                        <input type="radio" name="radio_1" id="radio_1_5" />
                        <label for="radio_1_5"> </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>