<!DOCTYPE html>
{% extends 'student_base.html' %}

{% block content %}

<div class="maincard container row">
        <div class="card">
            <div class="maincard_header">
                <h4>Student Profile</h4>
            </div>
            <div class="card-content">
                
                    <p>Name<br>{{ user.student.profile.name }}</p>
      <br><br>

      <p>Email<br>
      {{ user.student.profile.email }}</p>
      <br><br>

      <p>Phone Number <br>
      {{ user.student.profile.phone_number }}</p>
      <br><br>
      <p>Year and Div <br>{{ user.student.profile.year }}  {{ user.student.classroom.div }}</p>
      <br><br>
      <p>Department <br>
      {{ user.student.classroom.department.name }}</p>
                
            </div>
      
      
    </div>
  </div>
</div>
</div>

{% endblock %}